<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>::..App Academica..::</title>
</head>
<body>
    <div class="container" id="app">
            <div class="col-12 col-md-6">
                <div class="card text-bg-dark" style="max-width: 70rem;">
                    <div class="card-header">Registro de Alumnos</div>
                    <div class="card-body">
                        <form id="frmAlumno" @submit.prevent="guardarAlumno" @reset.prevent="nuevoAlumno()">
                            <div class="row p-1">
                                <div >Codigo:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.codigo" name="txtCodigoAlumno" id="txtCodigoAlumno">  
                                </div>
                            </div>
                            <div class="row p-1">
                                <div >Nombre:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.nombre" name="txtNombreAlumno" id="txtNombreAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div >Direccion:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.direccion" name="txtDireccionAlumno" id="txtDireccionAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div>Municipio:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.municipio" name="txtMunicipioAlumno" id="txtMunicipioAlumno">
                                </div>
                            </div>
                            <div class="row-1">
                               <div class="col-6 col-md-3">Departamento:</div>
                               <div class="col-9 col-md-6">
                                 <input class="form-control" type="text" v-model="alumno.departamento" name="txtDepartamentoAlumno" id="txtDepartamentoAlumno">
                               </div> 
                            </div>
                            <div class="row-1">
                                <div class="col-3 col-md-2">Telefono:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.telefono" name="txt" id="txtTelefonoAlumno">
                                </div>
                            </div>
                            <div class="row-1">
                                <div class="col-3 col-md-2">Fecha de N:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.fecha" name="txtFechaAlumno" id="txtFechaAlumno">
                                </div>
                            </div>
                            <div class="row-1">
                                <div class="col-3 col-md-2">Sexo:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.sexo" name="txtSexoAlumno" id="txtSexoAlumno">
                                </div>
                            </div>
                            <div class="row p-3"> 
                                <div class="col col-md-6">
                                    <input class="btn btn-outline-primary" type="submit" value="Guardar Alumno">
                                </div>
                                <div class="col col-md-6">
                                    <input class="btn btn-outline-primary" type="reset" value="Nuevo Registro">
                                </div>
        
                            </div>
                        </form>
                    </div>
                </div>
            </div>
   
        <div class="col-12 col-md-12">
         <div class="card text-bg-dark">
            <div class="card-header">Consulta de Alumnos</div>
             <div class="card-body">
                 <form>
                     <table class="table table-dark table-hover">
                          <thead>
                              <tr>
                                 <th>Buscar:</th>
                                  <th colspan="2"><input type="text" @keyup="listarAlumnos()" v-model="buscar" 
                                  class="form-control" placeholder="Buscar por Nombre" ></th>
                                </tr>
                                <tr>
                                    <th>codigo</th>
                                    <th >Nombre</th>
                                    <th>Direccion</th>
                                    <th>Municipio</th>
                                    <th>Departamento</th>
                                    <th>Telefono</th>
                                    <th>fecha de N.</th>
                                    <th>Sexo</th>
                                </tr>
                          </thead>
                          <tbody>
                                <tr v-for="alumno in alumnos" @click='modificarAlumno(alumno)' :key="alumno.idAlumno">
                                  <td>{{alumno.codigo}}</td>
                                  <td>{{alumno.nombre}}</td>
                                  <td>{{alumno.direccion}}</td>
                                  <td>{{alumno.municipio}}</td>
                                  <td>{{alumno.departamento}}</td>
                                  <td>{{alumno.telefono}}</td>
                                  <td>{{alumno.fecha}}</td>
                                  <td>{{alumno.sexo}}</td>
                                  <td><button @click.prevent="eliminarAlumno(alumno)" class="btn btn-danger">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>      
    </div>
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                     buscar: '',
                    alumnos:[],
                    accion : 'nuevo',
                    alumno:{
                        idAlumno:0,
                        codigo: '',
                        nombre: '',
                        direccion: '',
                        municipio: '',
                        departamento:'',
                        telefono:'',
                        fecha:'',
                        sexo:''
                    }
                        
                }
            },
            methods:{
                nuevoAlumno(){
                    this.accion = 'nuevo';
                    this.alumno.idAlumno = '';
                    this.alumno.codigo = '';
                    this.alumno.nombre = '';
                },
                modificarAlumno(alumno){
                    this.accion = 'modificar';
                    this.alumno = alumno;
                },
                guardarAlumno(){
                    this.listarAlumnos();
                    if(this.accion==='nuevo'){
                        this.alumno.idAlumno = new Date().getTime().toString(16);
                        this.alumnos.push(JSON.parse(JSON.stringify(this.alumno)));   
                    }else if(this.accion==='modificar'){
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idAlumno);
                        this.alumnos[index] = JSON.parse(JSON.stringify(this.alumno));
                    }else if(this.accion==='eliminar'){
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idAlumno);
                        this.alumnos.splice(1);
                    }
                    localStorage.setItem('alumnos',JSON.stringify(this.alumnos));
                    this.nuevoAlumno();
                },
                eliminarAlumno(alumno){
                    if( confirm(`Esta seguro de eliminar al Alumno ${alumno.nombre}?`)){
                        this.accion='eliminar';
                        this.alumno = alumno;
                        this.guardarAlumno();
                    }
                },
                listarAlumnos(){
                    this.alumnos = JSON.parse(localStorage.getItem('alumnos') || "[]")
                    .filter(alumno=>alumno.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }

            },
            created(){
                this.listarAlumnos();
            }
        }).mount('#app')
    </script>

</body>
</html>